---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import ZoomImage from "../../components/ZoomImage.svelte";
import BlogPost from "../../layouts/BlogPost.astro";

export const prerender = true;
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts
    .filter((post) => !post.data.draft)
    .map((post) => ({
      params: { slug: post.slug },
      props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();
---

<BlogPost {...post.data} {headings}>
  <div class="flex w-full flex-col gap-8 pb-4 transition-all md:flex-row">
    <ZoomImage
      src={post.data.cover.src}
      alt={post.data.coverAlt}
      caption={post.data.coverAlt}
      client:load
    >
      <Image
        src={post.data.cover}
        widths={[240, 540, 720, post.data.cover.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${post.data.cover.width}px`}
        alt={post.data.coverAlt}
      />
    </ZoomImage>
  </div>
  <Content />
</BlogPost>
