---
import Prose from "$components/Prose.astro";
import ZoomImage from "$components/ZoomImage.svelte";
import BlogPost from "$layouts/BlogPost.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

export const prerender = true;
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts
    .filter((post) => !post.data.draft)
    .map((post) => ({
      params: { slug: post.slug },
      props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();

// let width: number;
// let height: number;
// if (post.data.cover) {
//   let width = post.data.cover.width;
//   let height = post.data.cover.height;
//   if (post.data.cover.width > 1000) {
//     width = 2500;
//     height = 1406.25;
//   }
// }
---

<BlogPost {...post.data} {headings} {remarkPluginFrontmatter}>
  {
    post.data.cover && (
      <div class="flex flex-col items-center w-full">
        <Image
          id={`img-${post.slug}`}
          src={post.data.cover}
          width={1500}
          height={643}
          alt={post.data.coverAlt || ""}
          loading="lazy"
          decoding="async"
          format="webp"
          transition:name={`img-${post.slug}`}
          transition:animate="fade"
        />
        <Prose className={"my-0 prose-gray"}>
          <figcaption class="my-0 italic" id="header-image__caption">
            {post.data.coverAlt}
          </figcaption>
        </Prose>
      </div>
    )
  }
  <Content />
</BlogPost>

<style>
#header-image__caption {
  margin-top: 0;
}
</style>

<script is:inline define:vars={{ slug: post.slug }}>
// Disable the image from flying in from the top of the page
let oldAttribute;
document.addEventListener("scroll", ev => {
  const img = document.getElementById(`img-${slug}`);
  oldAttribute = img.getAttribute("data-astro-transition-scope");
  if (window.scrollY > 1000) {
    img.setAttribute("data-astro-transition-scope", null);
  } else {
    img.setAttribute("data-astro-transition-scope", oldAttribute);
  }
});
</script>
