---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "$/layouts/Layout.astro";
import PostPreviewList from "$components/PostPreviewList.astro";
import PostPreviewListFooter from "$components/PostPreviewListFooter.astro";
import Prose from "$components/Prose.astro";
// import LatestCodeList from "$components/LatestCodeList.astro";
import LatestCodeList, { type Highlighter } from "$components/react/LatestCodeList.tsx"
import { type CodeResults, getCodesFromMdx } from "$util/markdown";
import {all, createStarryNight} from '@wooorm/starry-night'
import { atom } from "nanostores";

export const prerender = true;
//
// let posts: CollectionEntry<"blog">[] = await getCollection("blog");
// posts = Array.from(posts)
// 	.filter((post) => !post.data.draft)
// 	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
//
//
// let allCodes: CodeResults = [];
// const livePosts = posts.filter((post) => !post.data.draft);
// let codes: CodeResults = [];
//
// for (const post of livePosts) {
//   const codes = await getCodesFromMdx(post.body, { numLines: 6 });
// }
// codes = codes.map((code) => ({ ...code, post }));
// allCodes = allCodes.concat(codesthPost);

const posts: CollectionEntry<"blog">[] = await getCollection("blog");
let allCodes: CodeResults = [];
const livePosts = posts.filter((post) => !post.data.draft);
for (const post of livePosts) {
  const codes = await getCodesFromMdx(post.body, { numLines: 6 });
  if (!codes) continue;

  const codesWithPost: CodeResults = codes.map((code) => ({ ...code, post }));
  allCodes = allCodes.concat(codesWithPost);
}

const highlighterInstance = atom<Highlighter | null>(null);

let highlighter = highlighterInstance.get();
if (!highlighter) {
  const starryNight = await createStarryNight(all);
  highlighterInstance.set(starryNight);
  highlighter = starryNight;
}

---

<Layout>
  <div class="hero flex justify-center pb-vert-padding">
    <div class="hero__tagline flex justify-center">
      <Prose className="prose prose-base mb-3 text-center lg:prose-base">
        A developer blog focusing on Ruby on Rails, React, AstroJS, and Neovim.
      </Prose>
    </div>
  </div>
  <div
    class="flex flex-col gap-0 rounded-lg border border-2 border-black bg-card-bg bg-opacity-50 p-4
    scrollbar-thin scrollbar-track-card-bg sm:flex-row sm:gap-6">
     <LatestCodeList client:load codes={allCodes} highlighter={highlighterInstance} />
  </div>

  <!-- <div class="flex flex-col"> -->
  <!--   <div -->
  <!--     class="my-4 flex w-1/2 flex-col gap-0 rounded-lg border border-2 border-card-border bg-card-bg bg-opacity-50 p-4" -->
  <!--   > -->
  <!--     <DeployWatch /> -->
  <!--   </div> -->
  <!-- </div> -->
  <PostPreviewList posts={posts} heading="Recent posts" asCard />
  <!-- <PostPreviewList posts={po {deploys.map((deploy) => (

    <ul>
      <h2>Deploy ID: {deploy.deploy.id}</h2>
      <li>Status: {deploy.deploy.status}</li>
      <li>Trigger: {deploy.deploy.trigger}</li>
      <li>Created At: {deploy.deploy.createdAt}</li>
      <li>Updated At: {deploy.deploy.updatedAt}</li>
      <li>Finished At: {deploy.deploy.finishedAt}</li>
    </ul>
  ))}sts} heading="Recent posts" /> -->
  <PostPreviewListFooter />
</Layout>
