---
import { SITE_DESCRIPTION } from "$/consts";
import Layout from "$/layouts/Layout.astro";
import LatestCodeList from "$components/LatestCodeList.astro";
import PostPreviewList from "$components/PostPreviewList.astro";
import PostPreviewListFooter from "$components/PostPreviewListFooter.astro";
import Prose from "$components/Prose.astro";
import { type CollectionEntry, getCollection } from "astro:content";
export const prerender = true;

let posts: CollectionEntry<"blog">[] = await getCollection("blog");
posts = Array.from(posts).filter((post) => !post.data.draft);
---

<Layout
  seo={{
    extend: {
      link: [
        {
          rel: "alternate",
          type: "application/rss+xml",
          href: "/posts/index.xml",
        },
      ],
    },
  }}
>
  <div class="flex justify-center hero pb-vert-padding">
    <div class="flex justify-center hero__tagline">
      <Prose className="mb-3 text-center prose prose-base lg:prose-base">
        {SITE_DESCRIPTION}
      </Prose>
    </div>
  </div>
  <ul
    class="flex flex-col gap-0 p-4 bg-opacity-50 rounded-lg border-2 sm:flex-row sm:gap-6 border-card-border bg-card-bg scrollbar-thin scrollbar-track-card-bg portrait:hidden"
  >
    <LatestCodeList />
  </ul>

  <!-- <div class="flex flex-col"> -->
  <!--   <div -->
  <!--     class="flex flex-col gap-0 p-4 my-4 w-1/2 bg-opacity-50 rounded-lg border-2 border border-card-border bg-card-bg" -->
  <!--   > -->
  <!--     <DeployWatch /> -->
  <!--   </div> -->
  <!-- </div> -->
  <PostPreviewList posts={posts} heading="Recent posts" asCard />
  <!-- <PostPreviewList posts={po {deploys.map((deploy) => (

    <ul>
      <h2>Deploy ID: {deploy.deploy.id}</h2>
      <li>Status: {deploy.deploy.status}</li>
      <li>Trigger: {deploy.deploy.trigger}</li>
      <li>Created At: {deploy.deploy.createdAt}</li>
      <li>Updated At: {deploy.deploy.updatedAt}</li>
      <li>Finished At: {deploy.deploy.finishedAt}</li>
    </ul>
  ))}sts} heading="Recent posts" /> -->
  <PostPreviewListFooter />
</Layout>
