---
import { getMonthName, mobileUserAgent } from "$/util";
import { getIsMobile } from "$/util";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

const isMobile = getIsMobile(Astro);
console.log(isMobile, mobileUserAgent);

interface Props {
  post: CollectionEntry<"blog">;
  asCard?: boolean;
  noTransition?: boolean;
}

const { post, noTransition } = Astro.props;
---

<div>
  <article
    class="transition-transform duration-300 ease-out text-primary focus-within:outline hover:scale-[1.03]"
  >
    <a
      href={`/blog/${post.slug}`}
      class="p-4 block hover:text-black text-black no-underline outline-none hover:no-underline group hover:[&_p]:no-underline bg-[#F3F7FF] border-2 border-[#BD9CE2]"
    >
      <header>
        <time
          class="text-gray-200 code"
          datetime="2024-04-11T00:00:00.000Z"
        >
          {
            `${new Date(post.data.pubDate).getDate()} ${
              getMonthName(post.data.pubDate)
            } ${new Date(post.data.pubDate).getFullYear()}`
          }
        </time>
      </header>
      <div class="-mx-4 h-52 bg-black">
        <Image
          class="object-cover my-4 w-full h-full"
          src={post.data.cover}
          width={1500}
          height={643}
          title={post.data.coverAlt}
          alt={`Go to the post titled "${post.data.title}"`}
          loading="lazy"
          decoding="async"
          format="webp"
          transition:name={noTransition ? "" : `img-${post.slug}`}
        />
        <!-- <img -->
        <!--   src="/_astro/post-header-4.6.kEAVNs1D.webp" -->
        <!--   width="1500" -->
        <!--   height="643" -->
        <!--   alt="Astro 4.6" -->
        <!--   class="my-4" -->
        <!--   loading="lazy" -->
        <!--   decoding="async" -->
        <!-- > -->
      </div>
      <div class="grid gap-y-4 gap-x-16 mt-6 md:grid-cols-2">
        <h3
          class="text-lg leading-snug group-hover:underline heading-4 line-clamp-3 text-primary md:heading-3"
        >
          {post.data.title}
        </h3>
        <p class="text-base leading-snug text-gray-700 line-clamp-3">
          {post.data.description}
        </p>
      </div></a>
  </article>
</div>

<style>
.code {
  font-family: var(--font-mono);
  font-size: 0.875rem;
  color: var(--color-gray-200);
}
li {
  list-style: none;
}
</style>
